body {
  margin-left: 2%;
  background-color: #141414;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-weight: bold;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

.nav__logo {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  color: #e50914;
  font-size: 1.5rem;
  margin-right: 3%;
  margin-left: 3%;
}
.nav__menu {
  color: #e5e5e5;
  font-size: 1rem;
  margin-right: 1%;
}
.nav__menu:hover {
  transition: color 0.5s ease-in-out;
  color: #b2b2b2;
}
.nav__menu--normal {
  font-weight: normal;
}
.nav__form {
  display: inline-block;
  position: relative;
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.nav__form.clicked {
  opacity: 1;
}
.nav__form-input {
  height: 1.5rem;
  border: solid 0.2rem #e5e5e5;
}
.nav__form-input::-moz-placeholder {
  font-size: 1rem;
}
.nav__form-input::placeholder {
  font-size: 1rem;
}
.nav__form-button {
  height: 2rem;
}
.nav__search-icon {
  height: 1.5%;
  width: 1.5%;
  display: inline-block;
  position: relative;
  top: 0.5rem;
  left: 51%;
  cursor: pointer;
}

.category1 {
  display: flex;
}
.category1__best-film {
  display: flex;
  margin-top: 3%;
  padding-top: 1%;
  height: 30%;
  width: 70%;
  border: 4px solid #f3f39e;
  color: #e5e5e5;
}
.category1__best-film-title {
  display: inline-block;
  position: relative;
  bottom: 1.5rem;
  margin-left: 3%;
  cursor: pointer;
}
.category1__best-film-description {
  font-weight: lighter;
  margin-left: 3%;
  width: 50%;
}
.category1__best-film-image {
  display: inline-block;
  position: relative;
  display: inline-block;
  position: relative;
  right: 3%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #494343;
  height: 200px;
  width: 600px;
  cursor: pointer;
}
.category1__legend {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 3rem;
  width: 17rem;
  text-align: right;
  border-bottom: 4px solid #f3f39e;
  font-size: 1.5rem;
  top: 14vh;
}

.category2 {
  display: flex;
}
.category2__best-film {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #74e299;
  width: 70%;
  height: 15vh;
}
.category2__best-film-image {
  display: flex;
  align-items: center;
  background-color: #494343;
  height: 7rem;
  cursor: pointer;
}
.category2__legend {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 3rem;
  width: 17rem;
  text-align: right;
  border-bottom: 4px solid #74e299;
  font-size: 1.5rem;
  top: 6vh;
}

.category3 {
  display: flex;
}
.category3__best-film {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #ffca69;
  width: 70%;
  height: 15vh;
}
.category3__best-film-image {
  display: flex;
  align-items: center;
  background-color: #494343;
  height: 7rem;
  cursor: pointer;
}
.category3__legend {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 3rem;
  width: 17rem;
  text-align: right;
  border-bottom: 4px solid #ffca69;
  font-size: 1.5rem;
  top: 6vh;
}

.category4 {
  display: flex;
}
.category4__best-film {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #459ce8;
  width: 70%;
  height: 15vh;
}
.category4__best-film-image {
  display: flex;
  align-items: center;
  background-color: #494343;
  height: 7rem;
  cursor: pointer;
}
.category4__legend {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 3rem;
  width: 17rem;
  text-align: right;
  border-bottom: 4px solid #459ce8;
  font-size: 1.5rem;
  top: 6vh;
}

.category5 {
  display: flex;
}
.category5__best-film {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #824e82;
  width: 70%;
  height: 15vh;
}
.category5__best-film-image {
  display: flex;
  align-items: center;
  background-color: #494343;
  height: 7rem;
  cursor: pointer;
}
.category5__legend {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 3rem;
  width: 17rem;
  text-align: right;
  border-bottom: 4px solid #824e82;
  font-size: 1.5rem;
  top: 6vh;
}

.footer__margin-left {
  display: inline-block;
  position: relative;
  margin-left: 74%;
  margin-top: 3%;
}
.footer__social-networks {
  color: #e5e5e5;
  font-size: 1rem;
  margin-right: 1%;
  font-weight: lighter;
}
.footer__social-networks:hover {
  transition: color 0.5s ease-in-out;
  color: #b2b2b2;
}/*# sourceMappingURL=main.css.map */