@import "../utils/variables";

body {
  margin-left: 2%;
  background-color: map-get($netflix-color, black_color);
  font-family: $netflix-font-family;
  font-weight: bold;
  color: map-get($netflix-color, white_color);
}

a {
  text-decoration: none;
}
