@import "./variables";

@mixin inline_block_relative {
  display: inline-block;
  position: relative;
}

@mixin logo-size {
  height: 1.5%;
  width: 1.5%;
}

@mixin text_font_size {
  font-size: 1rem;
}

@mixin header_footer_style {
  color: map-get($netflix-color, white_color);
  @include text_font_size;
  margin-right: 1%;
  &:hover {
    transition: color 0.5s ease-in-out;
    color: map-get($netflix-color, darken_white);
  }
}

@mixin margin_left {
  margin-left: 3%;
}

@mixin border_style($color, $border) {
  #{$border}: 4px solid $color;
}

@mixin title_font_size {
  font-size: 1.5rem;
}

@mixin category($number, $color) {
  .category#{$number} {
    &__best-film {
      margin-top: -2%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      height: 23vh;
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
      &-image {
        display: flex;
        align-items: center;
        background-color: map-get($netflix-color, background_image);
        height: 80%;
        width: 10%;
        cursor: pointer;
        border-radius: 10px;
      }
    }

    &__legend {
      @include inline_block_relative;
      @include title_font_size;
    }
  }
}
